.purchase .contour01{   border-radius: 4px;    padding: 4px 0; border: 2px solid darkcyan;    }
.purchase .big-title{  color: darkcyan;   }

.btn_purchase { border: 2px solid darkcyan!important }
.btn_purchase i{  color: darkcyan!important; width:25px !important   }
.purchase .o_form_sheet{ border-top: 4px solid darkcyan!important; border-bottom: 2px solid darkcyan!important; }

.purchase .tab_infos {
    border: 2px solid darkcyan;
    padding: 4px 0;
    margin: 8px 0;
    border-radius: 5px;
    min-height:150px;
}
